[Unit]
Description=Manage system flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'until ps -eao uid= | grep -qE "^\s*[1-9][0-9]{3,}"; do sleep 2; done'
ExecStart=/usr/bin/system-flatpak-setup