[Unit]
Description=Serviço de sincronia de flatpak
ConditionPathExists=%h/.config/flatpaksync/env
ConditionPathExists=%h/.config/flatpaks.user.installed

[Service]
EnvironmentFile=%h/.config/flatpaksync/env
ExecStart=/usr/bin/flatpaksync
Type=simple

[Install]
WantedBy=default.target
