[Unit]
Description=Configure Flatpaks for current user
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/user-flatpak-setup
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target