[Unit]
Description=Manage system flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until [ $(id -u) -ge 1000 ]; do sleep 2; done'
ExecStart=/usr/libexec/bluebuild/default-flatpaks/system-flatpak-setup