name: reviewdog
on:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    permissions:
      contents: read # needed to scan repository contents
      pull-requests: write # needed to write review comments
      checks: write # needed to create check run
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          github_token: ${{ github.token }}
          reporter: github-pr-review
